.login {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .fondo-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
  }
  
  .logo-image {
    position: absolute;
    top: 120px; 
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 200px; 
  }
  
  .login-form-admin {
    position: relative;
    z-index: 1; 
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
  }
  
  .login-form-admin h1 {
    font-size: 24px;
  }
  
  .login-form-admin .field {
    margin: 10px 0;
  }
  
  .login-form-admin .ui.button {
    margin-top: 20px;
    background-color: #8B4513;
    color: #fff;
  }

  .login-form-admin .ui.button:hover {
    background-color: #A0522D; 
  }