/* Estilo para el contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para el contenedor de la lista de usuarios */
.user-list-container {
  margin-top: 20px;
  width: 100%; /* Hacer que ocupe todo el ancho */
}

/* Estilo para el título del listado de usuarios */
.Titulo {
  text-align: center; /* Centra horizontalmente */
  margin: 0; /* Elimina el margen superior por defecto */
  font-size: 24px; /* Tamaño del título */
}

/* Estilo para la tabla de usuarios */
.user-list {
  width: 100%; /* Ocupar todo el ancho de su contenedor */
  border-collapse: collapse;
  margin-top: 10px;
}

/* Estilo para los encabezados de la tabla */
.user-header {
  background-color: #333;
  color: white;
}

/* Estilo para las etiquetas de los usuarios */
.user-label {
  padding: 10px;
  text-align: left;
}

/* Estilo para las filas de la tabla */
.user-list tbody tr {
  border-bottom: 1px solid #ddd;
}

/* Estilo para las filas pares de la tabla */
.user-list tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Gris claro */
}

/* Estilo para el contenido de las celdas */
.user-list tbody td {
  padding: 10px;
}
