.ListadoProductoAdmin-container {
  margin: 50px;
}

.ListadoProductoAdmin-titulo {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.ListadoProductoAdmin-table {
  width: 100%;
  /* border-collapse: collapse; */
  margin-top: 10px;
}

.user-header {
  background-color: #333;
  color: white;
}

.product-label {
  padding: 10px;
  text-align: left;
}

.ListadoProductoAdmin-item {
  border-bottom: 1px solid #ddd;
}

.ListadoProductoAdmin-item:nth-child(even) {
  background-color: #f2f2f2;
}

.ListadoProductoAdmin-item:nth-child(odd) {
  background-color: #fff;
}

.ListadoProductoAdmin-item td {
  padding: 10px;
}

.ListadoProductoAdmin-name,
.ListadoProductoAdmin-description,
.ListadoProductoAdmin-category,
.ListadoProductoAdmin-price {
  max-width: 150px; /* Ajusta el ancho máximo según tus necesidades */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
