.form-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .create-product-form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .create-product-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .create-product-form Button {
    background-color: #8B4513; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .create-product-form Button:hover {
    background-color: #A0522D; 
  }
  