.form-productos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}


.create-product-form {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.create-product-form Button {
  background-color: #8B4513 !important;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.create-product-form Button:hover {
  background-color: #A0522D !important;
}