/* Asegúrate de que los nombres de clases coincidan con el componente */
.ventas-bar {
    background-color: #8B4513;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 80px;
  }
  
  .ventas-button {
    background-color: #8B4513;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  .ventas-button:hover {
    background-color: #A0522D;
  }
  